
<div>
	<div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myBookLabel"><span>Libro: </span>{{vm.book.title}}</h4>
    </div>
    <div class="modal-body">
    <jhi-alert-error></jhi-alert-error>
	    <dl class="dl-horizontal jh-entity-details">
	        <dt><span>Titolo</span></dt>
	        <dd>
	            <span>{{vm.book.title}}</span>
	        </dd>
	         <dt><span>Autore</span></dt>
	        <dd>
	            <span>{{vm.book.author.name}}</span>
	        </dd>
	        <dt><span>Pagine</span></dt>
	        <dd>
	            <span>{{vm.book.page}}</span>
	        </dd>
	        <dt><span>Prezzo pieno</span></dt>
	        <dd>
	            <span>{{vm.book.price}}€</span>
	        </dd>
	        <dt><span>Sconto</span></dt>
	        <dd>
	            <span>{{vm.book.sold}}%</span>
	        </dd>
	        
	        <dt><span>Info</span></dt>
	        <dd>
	            <span> Acquistando da noi risparmi {{(vm.book.price*vm.book.sold)/100}}€</span>
	        </dd>
	        
	        <dt><span>Anno</span></dt>
	        <dd>
	            <span>{{vm.book.year}}</span>
	        </dd>
	        <dt><span>Editore</span></dt>
	        <dd>
	            <span>{{vm.book.publisher}}</span>
	        </dd>
	        <dt><span>Collana</span></dt>
	        <dd>
	            <span>{{vm.book.series}}</span>
	        </dd>
	        <dt><span>ISBN</span></dt>
	        <dd>
	            <span>{{vm.book.isbn}}</span>
	        </dd>
	        <dt><span>Copertina</span></dt>
	        <dd>
	            <div ng-if="vm.book.img">
	                <a ng-click="vm.openFile(vm.book.imgContentType, vm.book.img)">
	                    <img data-ng-src="{{'data:' + vm.book.imgContentType + ';base64,' + vm.book.img}}" style="max-width: 100%;" alt="book image"/>
	                </a>

	            </div>
	        </dd>
	       
	    </dl>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span>Chiudi</span>
        </button>
    </div>

</div>